@use "../../../../variables.scss" as *;

.review {
  background-color: $color-green-97;
  border: solid 1px $color-green-90;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc((100vw - 364px) / 3);
  flex-shrink: 0;
  box-sizing: border-box;
}

.review__icon {
  height: 40px;
  width: 40px;
  margin: 40px 0 0 40px;
}

.review__text {
  padding: 50px 40px 40px;
}

.review__author {
  padding: 30px 40px;
  background-color: $color-green-95;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: auto;
  border-top: solid 1px $color-green-90;
}

.review__portrait {
  height: 60px;
  width: 60px;
}

.review__name {
  font-weight: 600;
}


@media screen and (max-width: 1600px) and (min-width: 600px) {
  .review {
    background-color: transparent;
    width: calc((100vw - 200px) / 3);
  }

  .review__icon {
    height: 34px;
    width: 34px;
    margin: 30px 0 0 30px;
  }

  .review__text {
    padding: 40px 30px 30px;
  }

  .review__author {
    background-color: $color-green-95;
    padding: 30px;
    gap: 10px;
  }
}


@media screen and (max-width: 600px) {
  .review {
    background-color: transparent;
    width: 100%;
  }

  .review__icon {
    height: 34px;
    width: 34px;
    margin: 24px 0 0 24px;
  }

  .review__text {
    padding: 40px 24px 24px;
  }

  .review__author {
    background-color: $color-green-95;
    padding: 18px 24px;
    gap: 10px;
  }

  .review__portrait {
    height: 40px;
    width: 40px;
  }

  .review__name {
    font-size: 16px;
  }
}