@use '../../../variables.scss' as *;

.hero {
  display: flex;
  padding-right: 162px;
  justify-content: space-between;
  align-items: center;
}

.hero__main {
  margin-left: 40px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 28px;
  padding: 0 0 10px;
  border-bottom: solid 3px $color-green-70;
  width: fit-content;
}

.hero__title {
  font-weight: 700;
  font-size: 58px;
  margin-top: 20px;
}

.hero__text {
  font-weight: 500;
  margin-top: 20px;
}

.hero__buttons {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.hero__button {
  padding: 16px 20px;
  border-radius: 8px;
  background-color: $color-green-70;
  color: $color-grey-15;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.hero__button:hover {
  background-color: $color-green-80;
}

.hero__button_demo {
  background-color: $color-green-95;
  border: solid 1px $color-green-85;
  color: $color-grey-15;
}

.hero__button_demo:hover {
  background-color: $color-green-85;
}

.hero__customers {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 70px;
}

.hero__customers-container {
  display: flex;
  padding: 8px 10px;
  border-radius: 58px;
  border: solid 1px $color-green-70;
}

.hero__customer:first-child {
  margin-left: 0;
}

.hero__customer {
  margin-left: -20px;
}

.hero__customers-text {
  color: $color-dark-green-20;
  font-weight: 600;
  font-size: 20px;
}

.hero__customers-bold {
  color: $color-dark-green-40;
  font-weight: 700;
}


@media screen and (max-width: 1500px) and (min-width: 600px) {
  .hero__subtitle {
    font-size: 22px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__button {
    padding: 14px 16px;
  }

  .hero__customers-container {
    padding: 6px 8px;
  }

  .hero__customer {
    height: 40px;
    width: 40px;
    margin-left: -17px;
  }

  .hero__customers-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 0;
  }

  .hero__image {
    width: 100%;
  }

  .hero__customers {
    margin-top: -26px;
    flex-direction: column;
  }

  .hero__customers-container {
    background-color: $color-green-99;
    padding: 6px 8px;
  }
  
  .hero__customer {
    height: 40px;
    width: 40px;
  }

  .hero__customers-text {
    font-size: 16px;
  }

  .hero__main {
    margin: 0;
    padding: 0 16px;
    align-items: center;
  }

  .hero__subtitle {
    font-size: 18px;
    margin-top: 30px;
    padding: 0 0 8px;
  }

  .hero__title {
    line-height: 100%;
    font-size: 38px;
    text-align: center;
    max-width: 350px;
    margin-top: 10px;
  }

  .hero__text {
    text-align: center;
  }

  .hero__buttons {
    margin-top: 30px;
    gap: 14px;
  }

  .hero__button {
    padding: 14px 16px;
  }
}