@use "../../variables.scss" as *;

.team__categories {
  display: flex;
  padding: 30px 150px;
  justify-content: space-between;
  background-color: $color-dark-green-20;
  border-radius: 0 0 12px 12px;
  width: 100%;
  box-sizing: border-box;
}

.team__category {
  background-color: transparent;
  padding: 14px 20px;
  border-radius: 8px;
  color: $color-white;
  font-size: 18px;
  width: fit-content;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.team__category_selected {
  background-color: $color-dark-green-25;
  border: solid 1px $color-dark-green-30;
}

.team__people {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}


.person {
  width: calc((100% - 90px) / 4);
  position: relative;
  margin-bottom: -52px;
}

.person__portrait {
  width: 100%;
}

.person__info {
  background-color: $color-green-95;
  border-radius: 0 20px 0 0;
  padding: 30px;
  position: relative;
  top: -52px;
  width: 270px;
}

.person__name {
  font-weight: 600;
  font-size: 24px;
}


@media screen and (max-width: 1600px) and (min-width: 600px) {
  .team__categories {
    padding: 24px 80px;
  }

  .team__category {
    padding: 12px 18px;
    font-size: 14px;
  }

  .team__people {
    gap: 20px;
  }

  .person {
    width: calc((100% - 60px) / 4);
  }

  .person__name {
    font-size: 20px;
  }
}


@media screen and (max-width: 600px) {
  .team__categories {
    padding: 20px;
    flex-direction: column;
    gap: 6px;
  }

  .team__category {
    padding: 12px 18px;
    font-size: 14px;
  }

  .team__people {
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }

  .person {
    width: 100%;
  }

  .person__info {
    padding: 20px;
  }

  .person__name {
    font-size: 20px;
  }
}