@use "../../variables.scss" as *;

.call {
  border-radius: 12px;
  border: solid 1px $color-green-85;
  background-color: $color-green-95;
  display: flex;
  padding: 80px;
  gap: 150px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.call__main {
  z-index: 1;
}

.call__title {
  font-weight: 600;
  font-size: 34px;
}

.call__text {
  margin-top: 14px;
}

.call__button {
  padding: 18px 24px;
  background-color: $color-green-70;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  flex-shrink: 0;
  transition: background-color 0.2s ease;
  z-index: 1;
}

.call__button:hover {
  background-color: $color-green-80;
}

.call__scribble {
  position: absolute;
  top: 0;
  left: 0;
}

.call__logo {
  position: absolute;
  right: 0;
  bottom: 0;
}


@media screen and (max-width: 1600px) and (min-width: 600px) {
  .call {
    padding: 60px;
  }

  .call__title {
    font-size: 26px;
  }

  .call__button {
    padding: 14px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .call {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  }

  .call__scribble {
    top: -40px;
    left: -50px;
  }
  
  .call__title {
    text-align: center;
    font-size: 22px;
  }

  .call__text {
    text-align: center;
  }

  .call__button {
    width: 100%;
    padding: 14px 20px;
    font-size: 14px;
  }
}