@use '../../variables.scss' as *;

.header {
  background-color: $color-dark-green-15;
  position: relative;
}

.header__banner {
  height: 72px;
  padding: 14px 162px;
  border-bottom: solid 1px $color-dark-green-20;
  box-sizing: border-box;
}

.header__banner-container {
  background-color: $color-dark-green-20;
  border-radius: 6px;
  border: solid 1px $color-dark-green-25;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}

.header__scribble {
  height: 100%;
}

.header__banner-link {
  display: flex;
  gap: 6px;
  color: $color-white;
}

.header__nav {
  height: 95px;
  padding: 20px 162px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__link {
  color: $color-white;
  font-weight: 600;
}

.header__link_selected {
  color: $color-green-70;
}

.header__button {
  padding: 14px 24px;
  border-radius: 8px;
  background-color: $color-green-70;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.header__button:hover {
  background-color: $color-green-80;
}