@use '../../variables.scss' as *;

.header {
  background-color: $color-dark-green-15;
  position: relative;
}

.header__banner {
  padding: 14px 162px;
  border-bottom: solid 1px $color-dark-green-20;
  box-sizing: border-box;
  position: relative;
}

.header__banner-container {
  background-color: $color-dark-green-20;
  border-radius: 6px;
  border: solid 1px $color-dark-green-25;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.header__scribble {
  height: 100%;
}

.header__banner-link {
  display: flex;
  gap: 6px;
  color: $color-white;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  padding: 20px 162px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 45px;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__link {
  color: $color-white;
  font-weight: 600;
}

.header__link_selected {
  color: $color-green-70;
}

.header__button {
  padding: 14px 24px;
  border-radius: 8px;
  background-color: $color-green-70;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.header__button:hover {
  background-color: $color-green-80;
}


@media screen and (max-width: 1600px) and (min-width: 600px) {
  .header__banner-link {
    font-size: 16px;
  }

  .header__nav {
    padding: 16px 80px;
  }

  .header__logo {
    height: 25px;
  }

  .header__links {
    gap: 20px;
  }

  .header__demo-icon {
    height: 17px;
    width: 17px;
  }

  .header__demo-arrow {
    height: 20px;
    width: 20px;
  }

  .header__button {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 600px) {
  .header__banner {
    padding: 40px 16px 14px;
  }

  .header__scribble {
    position: absolute;
    top: 50px;
  }

  .header__scribble:first-child {
    left: 0;
  }

  .header__scribble:last-child {
    right: 0;
  }

  .header__banner-container {
    z-index: 1;
    position: relative;
    padding: 10px 20px;
  }

  .header__banner-link {
    font-size: 14px;
  }

  .header__logo {
    height: 20px;
    width: 20px;
  }

  .header__demo-arrow {
    height: 20px;
    width: 20px;
  }

  .header__nav {
    position: relative;
    z-index: 1;
    background-color: $color-dark-green-15;
    padding: 20px 16px;
  }

  .header__logo {
    height: 34px;
    width: 147px;
  }

  .header__menu-button {
    background: none;
    background-image: url("../../images/menu.svg");
    height: 34px;
    width: 34px;
  }
}