@use "../../../variables.scss" as *;

.achievements__grid {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  align-items: center;
  gap: 30px;
  position: relative;
}

@media screen and (max-width: 1600px) and (min-width: 600px) {
  .achievements__grid {
    gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
}