@use '../../variables.scss' as *;

.footer {
  background-color: $color-dark-green-15;
  margin-top: 150px;
  padding: 50px 162px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  gap: 26px;
}

.footer__link {
  color: $color-white;
  font-weight: 600;
}

.footer__up {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__up-text {
  color: $color-white;
  font-weight: 600;
}

.footer__up-button {
  height: 62px;
  width: 62px;
  border-radius: 73px;
  background-color: $color-dark-green-20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contacts {
  border-radius: 8px;
  background-color: $color-dark-green-20;
  border: solid 1px $color-dark-green-25;
  padding: 16px 30px 16px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__contact {
  padding: 14px;
  display: flex;
  gap: 6px;
  border: solid 1px $color-dark-green-25;
  border-radius: 6px;
}

.footer__contact-text {
  color: $color-white;
  text-wrap-mode: nowrap;
}

.footer__copyright {
  color: $color-grey-95;
  margin-left: auto;
}


@media screen and (max-width: 1600px) and (min-width: 600px) {
  .footer {
    padding: 40px 80px;
    gap: 40px;
  }

  .footer__logo {
    height: 30px;
  }

  .footer__up-button {
    height: 48px;
    width: 48px;
  }

  .footer__up-arrow {
    height: 24px;
    width: 24px;
  }

  .footer__contacts {
    padding: 14px 26px 14px 16px;
    gap: 16px;
  }

  .footer__contact {
    padding: 12px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 16px;
    margin-top: 100px;
  }

  .footer__nav {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .footer__logo {
    height: 30px;
  }

  .footer__up {
    margin-left: auto;
    gap: 6px;
  }

  .footer__up-button {
    height: 48px;
    width: 48px;
  }

  .footer__up-arrow {
    height: 24px;
    width: 24px;
  }

  .footer__links {
    flex-wrap: wrap;
    gap: 26px;
  }

  .footer__contacts {
    padding: 20px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .footer__contact {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }

  .footer__copyright {
    margin: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 50px;
  }
}