@use "../../../../variables.scss" as *;

.blog {
  padding: 40px;
  border-radius: 12px;
  background-color: $color-green-95;
  border: solid 1px $color-green-85;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.blog__image {
  max-width: 100%;
}

.blog__category {
  margin-top: 40px;
}

.blog__text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog__title {
  font-size: 26px;
  font-weight: 600;
}

.blog__footer {
  margin-top: auto;
  background-color: $color-green-97;
  border-radius: 12px;
  border: solid 1px $color-green-90;
  display: flex;
  padding: 20px 16px 20px 20px;
  align-items: center;
}

.blog__footer-info {
  display: flex;
  gap: 20px;
}

.blog__author {
  font-size: 20px;
  font-weight: 600;
}

.blog__info {
  color: $color-grey-35;
}

.blog__buttons {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.blog__button {
  border-radius: 8px;
  border: solid 1px $color-green-90;
  background-color: $color-green-95;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 60px;
  transition: background-color 0.2s ease;
}

.blog__button:hover {
  background-color: $color-green-90;
}

.blog__button_like {
  background-image: url("../../../../images/like.svg");
}

.blog__button_save {
  background-image: url("../../../../images/save.svg");
}



@media screen and (max-width: 1600px) and (min-width: 600px) {
  .blog {
    padding: 30px;
  }

  .blog__category {
    font-size: 16px;
  }

  .blog__title {
    font-size: 22px;
  }

  .blog__text {
    margin: 20px 0;
  }

  .blog__footer {
    padding: 16px 14px 16px 16px;
  }

  .blog__author-image {
    height: 50px;
    width: 50px;
  }

  .blog__author {
    font-size: 18px;
  }

  .blog__button {
    height: 48px;
    width: 48px;
    background-size: 20px 20px;
  }
}

@media screen and (max-width: 600px) {
  .blog {
    padding: 24px;
  }

  .blog__category {
    margin-top: 20px;
  }

  .blog__text {
    margin: 18px 0;
  }

  .blog__author-image {
    height: 40px;
    width: 40px;
  }

  .blog__footer {
    flex-direction: column;
    padding: 16px 14px 16px 16px;
    align-items: start;
    gap: 20px;
  }

  .blog__author {
    font-size: 16px;
  }

  .blog__button {
    height: 48px;
    width: 48px;
    background-size: 20px 20px;
  }
}