@use "../../../../variables.scss" as *;

.milestone {
  display: flex;
  width: 100%;
  background-color: $color-green-70;
  gap: 18px;
}

.milestone:nth-child(2n) {
  flex-direction: row-reverse;
}

.milestone__image {
  width: calc(50% - 9px);
}

.milestone__main {
  background-color: $color-green-95;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
  width: calc(50% - 9px);
  box-sizing: border-box;
}

.milestone__title {
  color: $color-dark-green-15;
  font-size: 28px;
  border-bottom: solid 3px $color-green-70;
  width: fit-content;
}

.milestone__date {
  font-weight: 600;
}

@media screen and (max-width: 1600px) and (min-width: 600px) {
  .milestone {
    gap: 12px;
  }

  .milestone__image {
    width: calc((50% - 6px));
  }

  .milestone__main {
    width: calc(50% - 6px);
    gap: 30px;
    padding: 60px;
  }

  .milestone__title {
    font-size: 24px;
  }
}