$color-white: #FFF;
$color-dark-green-15: #1A3129;
$color-dark-green-20: #234338;
$color-dark-green-25: #2C5446;
$color-dark-green-40: #468671;
$color-green-70: #CBEA7B;
$color-green-80: #DCF1A7;
$color-green-85: #E5F5BD;
$color-green-90: #EEF8D3;
$color-green-95: #F6FBE9;
$color-green-97: #FAFDF2;
$color-green-99: #FDFEFB;
$color-grey-15: #262626;
$color-grey-20: #333333;
$color-grey-30: #4C4C4D;