@use "../../variables.scss" as *;
.title-card {
  background-color: $color-green-95;
  border: solid 1px $color-green-85;
  border-radius: 12px 12px 0 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}

.title-card__info {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-card__bg {
  position: absolute;
  top: 0;
}

.title-card__logo {
  height: 90px;
  width: 90px;
  z-index: 1;
  margin-bottom: 80px;
}

.title-card__text {
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 1600px) and (min-width: 600px) {
  .title-card__info {
    padding: 80px;
  }

  .title-card__logo {
    width: 68px;
    height: 68px;
    margin-bottom: 60px;
  }
}


@media screen and (max-width: 600px) {
  .title-card__bg {
    width: 417px;
  }

  .title-card__info {
    padding: 30px;
  }

  .title-card__logo {
    height: 62px;
    width: 62px;
    margin-bottom: 30px;
  }

  .title-card__text {
    margin-top: 6px;
  }
}