@use '../../../variables.scss' as *;

#welcome {
  margin-top: 100px;
}

.welcome__image {
  width: 100%;
}

.welcome__message {
  padding: 100px;
  background-color: $color-green-95;
  border: solid 1px $color-green-85;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  font-size: 48px;
  font-weight: 600;
}

.welcome__text {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1600px) and (min-width: 600px) {
  .welcome__title {
    font-size: 38px;
  }

  .welcome__text {
    margin-top: 40px;
  }

  .welcome__message {
    padding: 80px;
  }
}

@media screen and (max-width: 600px) {
  #welcome {
    margin-top: 30px;
  }

  .welcome__message {
    padding: 30px;
  }

  .welcome__title {
    font-size: 28px;
  }

  .welcome__text {
    margin-top: 20px;
  }
}